.activities-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
}


.filters-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 24px;
}

.filter-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 500;
  min-width: 150px;
}

.filter-item label {
  margin-bottom: 6px;
  font-size: 14px;
  color: #333;
}

.filter-item select,
.filter-item input,
.export-btn {
  padding: 10px 14px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.search-transaction-input::placeholder {
  color: #888;
}

.export-btn {
  background-color: #d4af37;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.export-btn:hover {
  background-color: #c19e56;
}

.activities-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  width: 90%;
  max-width: 1000px;
}

.activities-table {
  width: 100%;
  border-collapse: collapse;
}

.activities-table th,
.activities-table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.employee-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.date-input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  font-size: 14px;
  width: 150px;
}
.activities-table thead{
  background-color: #060640;
  color: white;
}